@import "./variables-mixins.scss";

#app-header {
  height: 3.4em;
  background-color: $color-dark;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: 10;

  @include media-sm {
    height: 4em;
    grid-template-columns: repeat(4, 8em) 1fr 8em;
  }

  a,
  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: white;
    transition: background-color border-top 0.5s;

    svg {
      font-size: 1.6em;
      @include media-sm {
        font-size: 2em;
      }
    }
    span {
      font-size: 0.7em;
      display: none;
      @include media-sm {
        display: block;
      }
    }
  }

  .active {
    background-color: $color-medium;
  }

  #logout-button {
    &:active {
      color: $color-medium;
    }
    @include media-sm {
      grid-column: 6;
    }
  }
}
