@import "./variables-mixins.scss";

.comments-menu {
  margin: 1.2em 0 0.6em 3em;

  .new-comment-button {
    padding: 0.6em 2em;
    border-radius: 0.6em;
    border: none;
    background-color: $color-light;
    color: $color-dark;
  }
}

.comments-header {
  margin: 0.4em 0 0.4em 3em;
  font-weight: normal;
}

.comments-list {
  list-style: none;
  > li {
    margin-bottom: 0.6em;
  }
}
