@import "./variables-mixins.scss";

.comment {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 2em;

  .comment-avatar {
    padding: 0.6em;
  }

  .comment-body {
    justify-self: flex-start;
    background-color: $mono-light;
    border-radius: 0 1em 1em;
    padding: 1em 1.4em;

    .comment-date {
      font-size: 0.8em;
      margin-bottom: 0.6em;
    }
  }

  .comment-statistics {
    grid-column: 2;
    margin: 1em 0;
  }

  .comment-menu {
    grid-column: 2;
    font-size: 1.1em;
  }
}
