@import "./variables-mixins.scss";

.content-menu {
  button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.4em 1em;
    border-radius: 0.4em;
    border: 1px solid $mono-dark;
    background-color: $mono-light;
    color: $color-dark;
    transition: all 0.3s;

    &:hover {
      color: $color-medium;
      border-color: $color-medium;
    }

    &:active {
      background-color: $color-medium;
      color: white;
    }

    svg {
      margin-right: 0.4em;
    }

    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}
