@import "./variables-mixins.scss";

.content-statistics {
  color: $color-dark;
  &.background-dark {
    color: white;
  }

  .content-statistics-list {
    list-style: none;
    margin-bottom: 1em;

    li {
      display: inline-block;
      border: none;
      border-radius: 0.3em;

      &:not(:last-child) {
        margin-right: 1em;
      }

      strong {
        color: $color-medium;
      }
    }
  }

  .reaction-notification {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: $color-medium;

    svg {
      margin-right: 0.4em;
    }
  }
}
