@import "./variables-mixins.scss";

.error-content {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 1.4em;
    color: $color-medium;
  }
  p {
    color: $color-dark;
  }
}
