@import "./variables-mixins.scss";

.friend-card {
  height: 6em;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: white;
  border-radius: 0.6em;

  .friend-avatar {
    margin: 1em;
  }

  .friend-info {
    margin-right: 1em;
    text-align: left;
  }
}
