@import "./variables-mixins.scss";

#friend-selector {
  padding: 0.8em;
  background-color: white;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 1.2em;
    &:not(:last-child) {
      border-bottom: 1px solid $mono-light2;
    }

    .friend-name {
      margin-left: 1em;
      margin-right: auto;
    }
  }
}
