@import "./variables-mixins.scss";

#friend-selector {
  padding: 0.8em;
  background-color: $mono-light;
  border-right: 1px solid $mono-medium;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6em;
    &:not(:last-child) {
      border-bottom: 1px solid $mono-medium;
    }

    .friend-name {
      margin-left: 1em;
      margin-right: auto;
    }

    svg {
      font-size: 2.6em;
      color: $color-medium;
    }
  }
}
