@import "./variables-mixins.scss";

.loading-content {
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  i {
    font-size: 2em;
    margin-bottom: 0.3em;
    color: $color-medium;
  }
  p {
    font-size: 0.8em;
    color: $color-dark;
  }
}
