@import "./variables-mixins.scss";

#login-form {
  margin: 1em;
  padding: 1.6em 1em;
  border: none;
  border-radius: 0.8em;
  background-color: $mono-light;
  box-shadow: 0 3px 8px $mono-medium;

  @include media-sm {
    height: 100%;
    margin: 0;
    border-radius: 0;
  }

  label {
    display: block;
    margin-bottom: 0.6em;
    color: $color-dark;
  }
  input {
    width: 100%;
    height: 3em;
    padding: 0 0.6em;
    border: 1px solid $mono-medium;
    border-radius: 0.4em;
    margin-bottom: 1em;
    &:focus {
      box-shadow: 0 0 6px 3px $mono-medium;
    }
  }
  #login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    margin-top: 2em;
    border: none;
    border-radius: 0.4em;
    background-color: $color-dark;
    color: white;
    svg {
      font-size: 2em;
    }
  }
}
