@import "./variables-mixins.scss";

.message {
  display: flex;
  flex-direction: row;
  width: auto;

  @include media-sm {
    max-width: 80%;
  }

  &.sent {
    margin-left: auto;
    justify-content: flex-end;
  }

  .message-avatar {
    padding: 0.6em;
  }

  .message-content {
    padding: 0.6em 1.2em;
    margin-bottom: 0.6em;
    background-color: $color-medium;
    color: white;
    border-radius: 1em;
  }

  .message-date {
    font-size: 0.8em;
  }

  &.sent {
    .message-content {
      background-color: white;
      border: 1px solid $mono-medium;
      color: black;
    }

    .message-date {
      text-align: right;
    }
  }
}
