@import "./variables-mixins.scss";

#messages {
  font-size: 1.6rem;
  height: 100%;

  #selector-wrapper,
  #conversation-wrapper {
    display: none;
    overflow-y: auto;
  }

  &.contacts-view #selector-wrapper {
    display: block;
  }

  &.conversation-view #conversation-wrapper {
    display: block;
  }

  @include media-sm {
    display: grid;
    grid-template-columns: 24em 1fr;

    #selector-wrapper,
    #conversation-wrapper {
      display: block;
    }
  }
}
