@import "./variables-mixins.scss";

.message {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  width: auto;

  @include media-sm {
    max-width: 80%;
  }

  &.sent {
    margin-left: auto;
    justify-content: flex-end;
  }

  .message-avatar {
    padding: 0.6em;
  }

  .message-content {
    padding: 0.6em 1em;
    margin-bottom: 0.6em;
    background-color: $color-medium;
    color: white;
    border-radius: 0.6em;
  }
  &.sent .message-content {
    background-color: $mono-light;
    color: $color-dark;
  }

  .message-date {
    font-size: 0.8em;
    color: $mono-dark;
  }

  &.sent .message-date {
    text-align: right;
  }
}
