@import "./variables-mixins.scss";

#messages {
  height: 100%;

  #conversation-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: $mono-light;
    color: $mono-medium;
    text-align: center;
  }

  #selector-wrapper,
  #conversation-wrapper {
    display: none;
    overflow-y: auto;
  }

  &.contacts-view #selector-wrapper {
    display: block;
  }

  &.conversation-view #conversation-wrapper {
    display: block;
  }

  @include media-sm {
    display: grid;
    grid-template-columns: 20em 1fr;

    #selector-wrapper,
    #conversation-wrapper {
      display: block;
    }
  }
}
