@import "./variables-mixins.scss";

#posts {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-sm {
    padding: 3em;
  }

  #posts-list {
    width: 100%;
    max-width: 60em;
    list-style: none;
  }
}
