@import "./variables-mixins.scss";

.post {
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: 1em;
  overflow: hidden;

  .post-avatar {
    padding: 0.8em;
  }

  .post-body {
    padding: 0.6em 1em;
    border-left: 1px solid $mono-medium;
    background-color: $mono-light;

    .post-date {
      font-size: 0.8em;
      color: $mono-dark;
    }
  }
}
