@import "./variables-mixins.scss";

#posts {
  padding: 1em;
  margin: auto;

  @include media-sm {
    padding: 3em;
  }

  #new-post-form {
    margin-bottom: 2em;
    width: 100%;
    max-width: 60em;
  }

  #posts-list {
    width: 100%;
    max-width: 60em;
    list-style: none;
    li {
      margin-bottom: 2em;
    }
  }
}
