@import "./variables-mixins.scss";

#posts-wrapper {
  background-color: $mono-light;

  #posts {
    background-color: white;
    max-width: 70em;
    margin: auto;
    padding: 1em;
    @include media-sm {
      padding: 3em;
    }

    #new-post-form {
      @include media-sm {
        margin: 2em 0;
      }
      width: 100%;
    }

    #posts-list {
      width: 100%;
      list-style: none;
    }
  }
}
