@import "./variables-mixins.scss";

.profile-statistic-card {
  padding: 0.6em 1em;
  border-radius: 0.6em;
  background-color: white;

  .card-label {
    color: $color-medium;
  }

  .card-value {
    font-size: 1.4em;
  }
}
