@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$mono-light: #f8f8f8;
$mono-light2: rgb(240, 240, 240);
$mono-medium: rgb(210, 210, 210);
$mono-medium2: rgb(180, 180, 180);
$mono-dark: rgb(120, 120, 120);

$color-white: white;
$color-light: #e6dd3b;
$color-medium: #29bb89;
$color-dark: #1e6f5c;

$font-normal: "Poppins", sans-serif;

@mixin media-sm {
  @media screen and (min-width: 768px) {
    @content;
  }
}
